apiVersion: apps/v1
kind: Deployment
metadata:
  name: myyapp
  namespace: prod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: nginxdemos/hello:latest
          ports:
            - containerPort: 80